In [15]:
import pandas as pd

In [19]:
dataset1 = pd.read_csv('./Downloads/stromerzeugung_und_-verbrauch.csv')
dataset2 = pd.read_csv('./Downloads/strompreis_und_anteil_erneuerbarer_erzeugung.csv')

In [20]:
dataset1.head(5)

,date_id,date_id.1,Biomasse,CO₂-Emissionsfaktor des Strommix,Steinkohle,Wasserkraft,Braunkohle,Erdgas,Andere,Pumpspeicher,Solar,Konventionell,Gesamtstromverbrauch,Absolute Emissionen,Wind Offshore,Wind Onshore,Total Renewables,Total Conventional,Anteil erneuerbar,Anteil konventionell
0,2024-10-21T00:00:00,2024-10-21T00:00:00,4.656,226.801,2.160,2.456,4.840,7.484,2.046,0.042,0.0,16.571,49.100,11818.203,4.112,24.313,35.537,16.572,68.197432,31.802568
1,2024-10-21T01:00:00,2024-10-21T01:00:00,4.499,226.193,1.845,2.435,4.780,7.494,2.054,0.004,0.0,16.178,49.519,11520.476,4.857,22.963,34.754,16.177,68.237419,31.762581
2,2024-10-21T02:00:00,2024-10-21T02:00:00,4.518,226.301,1.373,2.482,4.869,7.827,2.061,0.008,0.0,16.138,48.661,11366.857,4.797,22.293,34.090,16.138,67.870510,32.129490
3,2024-10-21T03:00:00,2024-10-21T03:00:00,4.572,232.280,1.590,2.399,4.851,7.658,2.057,0.017,0.0,16.175,48.292,11454.116,4.501,21.665,33.137,16.173,67.201379,32.798621
4,2024-10-21T04:00:00,2024-10-21T04:00:00,4.629,257.303,1.885,2.402,5.572,7.885,2.042,0.001,0.0,17.386,48.695,12522.393,4.216,20.035,31.282,17.385,64.277642,35.722358

In [21]:
dataset2.head()

,date_id,date_id.1,Strompreis,Anteil erneuerbar,Anteil konventionell
0,2024-10-21T00:00:00,2024-10-21T00:00:00,-0.10,68.835,31.165
1,2024-10-21T01:00:00,2024-10-21T01:00:00,-0.10,68.887,31.113
2,2024-10-21T02:00:00,2024-10-21T02:00:00,-0.14,68.529,31.471
3,2024-10-21T03:00:00,2024-10-21T03:00:00,-0.08,67.870,32.130
4,2024-10-21T04:00:00,2024-10-21T04:00:00,-0.04,64.939,35.061

In [22]:
dataset2.drop(['date_id.1', 'Anteil erneuerbar','Anteil konventionell'], axis=1, inplace=True)

In [23]:
dataset2

                 date_id  Strompreis
0    2024-10-21T00:00:00       -0.10
1    2024-10-21T01:00:00       -0.10
2    2024-10-21T02:00:00       -0.14
3    2024-10-21T03:00:00       -0.08
4    2024-10-21T04:00:00       -0.04
..                   ...         ...
135  2024-10-26T15:00:00       81.44
136  2024-10-26T16:00:00      100.60
137  2024-10-26T17:00:00      125.73
138  2024-10-26T18:00:00      150.90
139  2024-10-26T19:00:00      118.74

[140 rows x 2 columns]

In [24]:
dataset1.columns

Index(['date_id', 'date_id.1', 'Biomasse', 'CO₂-Emissionsfaktor des Strommix',
       'Steinkohle', 'Wasserkraft', 'Braunkohle', 'Erdgas', 'Andere',
       'Pumpspeicher', 'Solar', 'Konventionell', 'Gesamtstromverbrauch',
       'Absolute Emissionen', 'Wind Offshore', 'Wind Onshore',
       'Total Renewables', 'Total Conventional', 'Anteil erneuerbar',
       'Anteil konventionell'],
      dtype='object')

In [26]:
dataset1.drop(['date_id.1', 'Andere','Pumpspeicher','Konventionell','Total Renewables','Total Conventional','Anteil erneuerbar',
       'Anteil konventionell','Absolute Emissionen'],axis=1, inplace=True)

In [27]:
dataset1

,date_id,Biomasse,CO₂-Emissionsfaktor des Strommix,Steinkohle,Wasserkraft,Braunkohle,Erdgas,Solar,Gesamtstromverbrauch,Wind Offshore,Wind Onshore
0,2024-10-21T00:00:00,4.656,226.801,2.160,2.456,4.840,7.484,0.000,49.100,4.112,24.313
1,2024-10-21T01:00:00,4.499,226.193,1.845,2.435,4.780,7.494,0.000,49.519,4.857,22.963
2,2024-10-21T02:00:00,4.518,226.301,1.373,2.482,4.869,7.827,0.000,48.661,4.797,22.293
3,2024-10-21T03:00:00,4.572,232.280,1.590,2.399,4.851,7.658,0.000,48.292,4.501,21.665
4,2024-10-21T04:00:00,4.629,257.303,1.885,2.402,5.572,7.885,0.000,48.695,4.216,20.035
...,...,...,...,...,...,...,...,...,...,...,...
135,2024-10-26T15:00:00,4.855,379.056,3.566,2.495,11.765,6.856,18.172,54.375,1.050,2.187
136,2024-10-26T16:00:00,4.945,449.513,5.199,2.710,12.004,7.965,9.897,52.179,1.217,2.677
137,2024-10-26T17:00:00,4.956,505.928,6.056,3.001,12.045,8.974,2.143,51.921,1.270,4.031
138,2024-10-26T18:00:00,4.998,492.779,6.141,2.970,12.045,9.269,0.019,52.981,1.578,6.514
139,2024-10-26T19:00:00,4.954,469.452,6.136,2.734,12.049,9.258,0.000,52.730,2.086,9.287

In [28]:
Final_dataset = pd.merge(dataset1, dataset2, on='date_id')

In [29]:
Final_dataset.head()

,date_id,Biomasse,CO₂-Emissionsfaktor des Strommix,Steinkohle,Wasserkraft,Braunkohle,Erdgas,Solar,Gesamtstromverbrauch,Wind Offshore,Wind Onshore,Strompreis
0,2024-10-21T00:00:00,4.656,226.801,2.160,2.456,4.840,7.484,0.0,49.100,4.112,24.313,-0.10
1,2024-10-21T01:00:00,4.499,226.193,1.845,2.435,4.780,7.494,0.0,49.519,4.857,22.963,-0.10
2,2024-10-21T02:00:00,4.518,226.301,1.373,2.482,4.869,7.827,0.0,48.661,4.797,22.293,-0.14
3,2024-10-21T03:00:00,4.572,232.280,1.590,2.399,4.851,7.658,0.0,48.292,4.501,21.665,-0.08
4,2024-10-21T04:00:00,4.629,257.303,1.885,2.402,5.572,7.885,0.0,48.695,4.216,20.035,-0.04

In [30]:
Final_dataset.to_csv('./Downloads/merged_dataset.csv', index=False)